In [1]:
#what is Dataframe?

#  Dataframe is an 2 dimensional data arrangement/structure,like an 2d array or table with rows and columns
#pandas Dataframe cansist of three principles i.e data,row and columns
#

In [5]:
#Difference bitween dataframe and series

#A series have only one data column wher as, dataframe has both datcolumns and indexes

In [6]:
#Lets cansider an example of students and their branches,reg number and gender

import pandas as pd
stud_info={'Name':['Ajeet','Shrikant','Rohit','Priyanka'],'Reg_no':[23,34,56,93],'Gender':['male','male','male','Female'],'Branch':['CS','Mechanical','Civil','CS']}
df=pd.DataFrame(stud_info)

In [7]:
df

       Name  Reg_no  Gender      Branch
0     Ajeet      23    male          CS
1  Shrikant      34    male  Mechanical
2     Rohit      56    male       Civil
3  Priyanka      93  Female          CS