In [1]:
# pandas functions to manipulate Dataframes
# read()
# head()
# shape
# describe()
# dropna()
# .loc
# .iloc

In [4]:
import pandas as pd 
read={'Emp_name':['Arun','Abhishek','Ritu','Sachin','Amar','Mahesh'],"Emp_id":[12,44,65,76,54,33],'Gender':['male','Male','Female','male','male','male'],'Salary':[54000,44000,63000,50000,60000,90000]}
df=pd.DataFrame(read)

In [5]:
df

   Emp_name  Emp_id  Gender  Salary
0      Arun      12    male   54000
1  Abhishek      44    Male   44000
2      Ritu      65  Female   63000
3    Sachin      76    male   50000
4      Amar      54    male   60000
5    Mahesh      33    male   90000

In [6]:
df.shape

(6, 4)